#js-main-invoice-table,
#js-main-invoice-table-clone table{
	width: 100%;
	border-collapse: collapse;
	font-family: Arial, Helvetica, sans-serif;
}
#invoice-button-top{
	position: fixed;
	right: 15px;
	bottom:15px;
	width: 40px;
	height: 40px;
	background-image:url(../images/img_design/invoice_scroll_top.png);
	background-repeat: no-repeat;
	display: none;
	cursor: pointer;
	border-radius: 20px;
	opacity: 0.6;
}
#invoice-button-top:hover{
	-webkit-box-shadow: 0px 5px 11px 0px rgba(50, 50, 50, 0.29);
    -moz-box-shadow: 0px 5px 11px 0px rgba(50, 50, 50, 0.29);
    box-shadow: 0px 5px 11px 0px rgba(50, 50, 50, 0.29);
}
#js-main-invoice-table-clone{
	-webkit-box-shadow: 0px 5px 11px 0px rgba(50, 50, 50, 0.59);
    -moz-box-shadow: 0px 5px 11px 0px rgba(50, 50, 50, 0.59);
    box-shadow: 0px 5px 11px 0px rgba(50, 50, 50, 0.59);
}
#js-main-invoice-table thead tr th,
#js-main-invoice-table-clone thead tr th{
	color: #5E5F61;
	font-size: 11px;
	font-weight: normal;
	background-color: #F2F2F2;
	padding:2px 10px;	
}

#js-main-invoice-table thead tr:nth-of-type(1) th:nth-of-type(1),
#js-main-invoice-table thead tr:nth-of-type(1) th:nth-of-type(3),
#js-main-invoice-table thead tr:nth-of-type(1) th:nth-of-type(9),
#js-main-invoice-table thead tr:nth-of-type(1) th:nth-of-type(13),
#js-main-invoice-table thead tr:nth-of-type(2) th:nth-of-type(1),
#js-main-invoice-table-clone thead tr:nth-of-type(1) th:nth-of-type(1),
#js-main-invoice-table-clone thead tr:nth-of-type(1) th:nth-of-type(3),
#js-main-invoice-table-clone thead tr:nth-of-type(1) th:nth-of-type(9),
#js-main-invoice-table-clone thead tr:nth-of-type(1) th:nth-of-type(13),
#js-main-invoice-table-clone thead tr:nth-of-type(2) th:nth-of-type(1){
	text-align: right;
}


#js-main-invoice-table thead tr:nth-of-type(1) th:nth-of-type(4),
#js-main-invoice-table thead tr:nth-of-type(1) th:nth-of-type(6),
#js-main-invoice-table thead tr:nth-of-type(1) th:nth-of-type(7),
#js-main-invoice-table-clone thead tr:nth-of-type(1) th:nth-of-type(4),
#js-main-invoice-table-clone thead tr:nth-of-type(1) th:nth-of-type(6),
#js-main-invoice-table-clone thead tr:nth-of-type(1) th:nth-of-type(7){
	text-align: left;
}
#js-main-invoice-table thead tr:nth-of-type(1) th:nth-of-type(2),
#js-main-invoice-table thead tr:nth-of-type(1) th:nth-of-type(11),
#js-main-invoice-table thead tr:nth-of-type(1) th:nth-of-type(12),
#js-main-invoice-table thead tr:nth-of-type(2) th:nth-of-type(2),
#js-main-invoice-table thead tr:nth-of-type(2) th:nth-of-type(3),
#js-main-invoice-table thead tr:nth-of-type(2) th:nth-of-type(5),
#js-main-invoice-table-clone thead tr:nth-of-type(1) th:nth-of-type(2),
#js-main-invoice-table-clone thead tr:nth-of-type(1) th:nth-of-type(11),
#js-main-invoice-table-clone thead tr:nth-of-type(1) th:nth-of-type(12),
#js-main-invoice-table-clone thead tr:nth-of-type(2) th:nth-of-type(2),
#js-main-invoice-table-clone thead tr:nth-of-type(2) th:nth-of-type(3),
#js-main-invoice-table-clone thead tr:nth-of-type(2) th:nth-of-type(5){
	text-align: center;
}
#js-main-invoice-table thead tr:nth-of-type(1) th:nth-of-type(2),
#js-main-invoice-table thead tr:nth-of-type(2) th:nth-of-type(3),
#js-main-invoice-table thead tr:nth-of-type(2) th:nth-of-type(5),
#js-main-invoice-table-clone thead tr:nth-of-type(1) th:nth-of-type(2),
#js-main-invoice-table-clone thead tr:nth-of-type(2) th:nth-of-type(3),
#js-main-invoice-table-clone thead tr:nth-of-type(2) th:nth-of-type(5){
	padding: 2px;
}
#js-main-invoice-table thead tr:nth-of-type(1) th:nth-of-type(4),
#js-main-invoice-table-clone thead tr:nth-of-type(1) th:nth-of-type(4){
	padding-left: 10px;
}
#js-main-invoice-table thead tr:nth-of-type(1) th:nth-of-type(13),
#js-main-invoice-table tbody tr td:nth-of-type(16),
#js-main-invoice-table-clone thead tr:nth-of-type(1) th:nth-of-type(13),
#js-main-invoice-table-clone tbody tr td:nth-of-type(16){
	padding-right: 10px;
}

#js-main-invoice-table thead tr th,
#js-main-invoice-table-clone thead tr th{
	border: 1px solid #CAC7C7;
	border-bottom: 2px solid #848486;
}
#js-main-invoice-table thead tr:nth-of-type(1) th:nth-of-type(11),
#js-main-invoice-table thead tr:nth-of-type(1) th:nth-of-type(12),
#js-main-invoice-table-clone thead tr:nth-of-type(1) th:nth-of-type(11),
#js-main-invoice-table-clone thead tr:nth-of-type(1) th:nth-of-type(12){
	border-bottom: 1px solid #CAC7C7;
}
#js-main-invoice-table thead tr:nth-of-type(1) th:nth-of-type(2),
#js-main-invoice-table-clone thead tr:nth-of-type(1) th:nth-of-type(2){
	border-right: none;
}
#js-main-invoice-table thead tr:nth-of-type(1) th:nth-of-type(3),
#js-main-invoice-table-clone thead tr:nth-of-type(1) th:nth-of-type(3){
	border-left: none;
}
#js-main-invoice-table tbody tr td,
#js-main-invoice-table-clone tbody tr td{
	font-size: 12px;
	color: #7A7A7A;
	padding:5px;
}
#js-main-invoice-table tbody tr td:nth-last-of-type(1){
	width:45px 
}
#js-main-invoice-table thead tr:nth-of-type(2) th:nth-last-of-type(2),
#js-main-invoice-table-clone thead tr:nth-of-type(2) th:nth-last-of-type(2){
	width:45px 
}
/*выравнивание текста в ячейках счета*/

#js-main-invoice-table tbody tr td:nth-of-type(6) div{
	text-align: left;
}
#js-main-invoice-table tbody tr td:nth-of-type(12) div,
#js-main-invoice-table tbody tr td:nth-of-type(13) div,
#js-main-invoice-table tbody tr td:nth-of-type(14) div{

	text-align: center;
}
#js-main-invoice-table tbody tr td:nth-of-type(1) div,
#js-main-invoice-table tbody tr td:nth-of-type(3) div,
#js-main-invoice-table tbody tr td:nth-of-type(4) div,
#js-main-invoice-table tbody tr td:nth-of-type(7) div,
#js-main-invoice-table tbody tr td:nth-of-type(8) div,
#js-main-invoice-table tbody tr td:nth-of-type(10) div,

#js-main-invoice-table tbody tr td:nth-of-type(9) div,
#js-main-invoice-table tbody tr td:nth-of-type(11) div,
#js-main-invoice-table tbody tr td:nth-of-type(16) div,
#js-main-invoice-table-clone thead tr:nth-last-of-type(2) td:nth-last-of-type(1),
#js-main-invoice-table-clone thead tr:nth-last-of-type(1) td:nth-last-of-type(1){
	text-align: right;
}
/*padding текста в ячейках счета*/
/*#js-main-invoice-table tbody tr td:nth-of-type(16){
	padding-right: 10px;
}*/
#js-main-invoice-table tbody tr td{
	border: 1px solid #F3F1F1;
	border-bottom: 1px solid #F3F1F1;
}
#js-main-invoice-table thead tr th:nth-of-type(4),
#js-main-invoice-table-clone thead tr th:nth-of-type(4),
#js-main-invoice-table thead tr th:nth-of-type(5),
#js-main-invoice-table-clone thead tr th:nth-of-type(5),
#js-main-invoice-table tbody tr td:nth-of-type(4),
#js-main-invoice-table tbody tr td:nth-of-type(5){
	border-right:1px solid transparent;
}
#js-main-invoice-table tbody tr td.js-query-ttn{
	padding:0;
}
#js-main-invoice-table tbody tr td.js-query-ttn .ttn-td-div div{

}
#js-main-invoice-table tbody tr td.js-query-ttn .ttn-td-div div span:nth-of-type(1){
	width: 50px;
	padding-right: 15px;
}
/*исконка флаг*/
#js-main-invoice-table thead tr:nth-of-type(1) th:nth-of-type(5),
#js-main-invoice-table-clone thead tr:nth-of-type(1) th:nth-of-type(5){
	background-image:url(../images/img_design/icon_invoce_1.png);
	background-repeat: no-repeat;
	background-position: 50%;
}
#js-main-invoice-table tbody tr td.invoice-row--icons-flag{
	background-image:url(../images/img_design/icon_invoce_3.png);
	background-repeat: no-repeat;
	background-position: 50%;
	padding: 0 25px 0 0;
	cursor: pointer;
}
#js-main-invoice-table tbody tr td.invoice-row--icons-flag:hover{
	background-color: #F2F2F2;
}
#js-main-invoice-table tbody tr td.invoice-row--icons-flag.checked{
	background-image:url(../images/img_design/icon_invoce_2.png);
}
/*иконка глаз*/
#js-main-invoice-table thead tr:nth-of-type(1) th:nth-of-type(8),
#js-main-invoice-table-clone thead tr:nth-of-type(1) th:nth-of-type(8){
	background-image:url(../images/img_design/icon_invoce_ice.png);
	background-repeat: no-repeat;
	background-position: 50%;
}
#js-main-invoice-table tbody tr td.invoice-row--ice{
	background-image:url(../images/img_design/icon_invoce_ice.png);
	background-repeat: no-repeat;
	background-position: 50%;
}
#js-main-invoice-table tbody tr td.invoice-row--ice.checked{
	background-image:url(../images/img_design/icon_invoce_ice_green.png);
}
/*иконка калькулятор*/
#js-main-invoice-table thead tr:nth-of-type(1) th:nth-of-type(10),
#js-main-invoice-table-clone thead tr:nth-of-type(1) th:nth-of-type(10){
	background-image:url(../images/img_design/icon_invoce_calc.png);
	background-repeat: no-repeat;
	background-position: 50%;
}
#js-main-invoice-table tbody tr td.invoice-row--icons-calculator{
	background-image:url(../images/img_design/icon_invoce_calc.png);
	background-repeat: no-repeat;
	background-position: 50%;
}
#js-main-invoice-table tbody tr td.invoice-row--icons-calculator.checked{
	background-image:url(../images/img_design/icon_invoce_calc_green.png);
}
/*иконки оповещений*/
#js-main-invoice-table tbody tr td:nth-of-type(17){
	padding: 0;
	vertical-align: baseline;
}
#js-main-invoice-table tbody tr td .invoice-row-icon{
	/*background-color: red;*/
	width: 100%;
	height: 20px;
}
#js-main-invoice-table tbody tr td .invoice-row-icon.invoice-row--din-din{
	background-image:url(../images/img_design/icon_invoce_dindin.png);
	background-repeat: no-repeat;
	background-position: 10px 50%;
}
#js-main-invoice-table tbody tr td .invoice-row-icon.invoice-row--din-din.checked{
	background-image:url(../images/img_design/icon_invoce_dindin_green.png);
	background-color: #F0F6E9;
}
#js-main-invoice-table tbody tr td .invoice-row-icon.invoice-row--comment{
	background-image:url(../images/img_design/comment_icon_empty.png);
	background-repeat: no-repeat;
	background-position: 0px 50%;
}
#js-main-invoice-table tbody tr td .invoice-row-icon.invoice-row--comment.isfull{
	background-image:url(../images/img_design/comment_icon.png);
}
/*псевдочекбоксы*/
#js-main-invoice-table tbody tr td.invoice-row--checkboxtd,
#js-main-invoice-table tbody tr td .invoice-row--checkboxtd{
	background-image:url(../images/img_design/icon_invoce_checkbox.png);
	background-repeat: no-repeat;
	background-position: 50% 10px;
	cursor: pointer;
	padding: 0;
	width: 20px;
}
#js-main-invoice-table tbody tr td.invoice-row--checkboxtd:hover,
#js-main-invoice-table tbody tr td .invoice-row--checkboxtd:hover{
	background-color: #F2F2F2;
}
#js-main-invoice-table tbody tr td.invoice-row--checkboxtd.checked,
#js-main-invoice-table tbody tr td .invoice-row--checkboxtd.checked{
	background-image:url(../images/img_design/icon_invoce_checkbox_checked.png);
<<<<<<< HEAD
=======
}
.defttn1,
.defttn2,
.defttn3{
	padding:5px;
}
#js-main-invoice-table tbody tr td div.defttn2{
	text-align: center;
}
#js-main-invoice-table tbody tr td div.defttn3{
	background-position: 50%;
}
#js-main-invoice-table tbody tr td.js-query-ttn{
	cursor: pointer;
	text-align: center;
	text-decoration: underline;
	color: #D4D4D4;
}
#js-main-invoice-table tbody tr td.js-query-ttn:hover{
	text-decoration: none;
}

/*
Кнопки всплывалок
 */

#js-alert_union_buttons button{
	border-radius: 9px;
	height: 36px;
	border:1px solid #999999;
	background: #92B73E;
	color: #fff;
}
body #js-alert_union_buttons .button_yes_or_no,
body #js-alert_union_buttons .button_yes_or_close{
	padding: 3px 45px;
}
body #js-alert_union_buttons .button_yes_or_no.no,
body #js-alert_union_buttons .button_yes_or_close.no{
	background:#fff; 
	color: #999999;
}
body #js-alert_union_buttons .save,
body #js-alert_union_buttons .button_yes_or_close{
	float: right;
}

#js-SC_buttons table,
#js-alert_union_buttons table{
	width: 100%;
}
#js-SC_buttons table td:nth-of-type(1),
#js-alert_union_buttons table td:nth-of-type(1){
	text-align: left;
}
#js-SC_buttons table td:nth-of-type(2){
	text-align: center;
}
#js-SC_buttons table td:nth-of-type(3),
#js-alert_union_buttons table td:nth-of-type(2){
	text-align: right;
}

/*
окно ТТН
 */
#js-invoice--window--ttn-table{
	border-collapse: collapse;
}
#js-invoice--window--ttn-table tr th,
#js-invoice--window--ttn-table tr td{
	border: 1px solid #CAC7C7;
	padding: 5px;
}
#js-invoice--window--ttn-table tr th{
	text-align: left
}
#js-invoice--window--ttn-table tr td:nth-last-of-type(1),
#js-invoice--window--ttn-table tr td:nth-last-of-type(2),
#js-invoice--window--ttn-table tr:nth-last-of-type(1) td:nth-last-of-type(1),
#js-invoice--window--ttn-table tr:nth-last-of-type(2) td:nth-last-of-type(2){
	text-align: right;
}

#js-invoice--window--ttn-table th.checked,
#js-invoice--window--ttn-table td.checked{
	background: #92B73E;
}
#js-invoice--window--ttn-table th:nth-of-type(1) input[type="checkbox"]:before,
#js-invoice--window--ttn-table td:nth-of-type(1) input[type="checkbox"]:before{
	background: url(../images/img_design/checkbox_bg1.png);
    content: "";
    width: 15px;
    height: 15px;
    position: absolute;
    background-repeat: no-repeat;
}
#js-invoice--window--ttn-table th:nth-of-type(1).checked input[type="checkbox"]:before,
#js-invoice--window--ttn-table td:nth-of-type(1).checked input[type="checkbox"]:before{
	background-image: url(../images/img_design/chckbox_is_checed.png),url(../images/img_design/checkbox_bg1.png);
}


#js-invoice--window--ttn-table td.checked.buh_style{
    background-image: url(../images/img_design/chckbox_is_checed.png);
    background-repeat: no-repeat;
    background-position: 50%;
}
#js-invoice--window--ttn-table tr.ttn_id_created td{
	background:#fff;
	color: #cccccc
}
#js-invoice--window--ttn-table th:nth-of-type(1).checked input[type="checkbox"].checked_no_full:before{
	/*background: none;*/
	background-image: url(../images/img_design/checked_no_full_ch.png);
	content: "";
	float: left;
    /*margin: -6px 0 0 2px;*/
    font-size: 18px;
    color: #424242;
    position: absolute;
}
#ttn_head_info{
	width: 100%;
	padding-bottom: 15px;
}
#ttn_head_info-table{
	width: 100%
}
#ttn_head_info-table tr:nth-of-type(2) td{
	padding-top: 15px;
}
#ttn_head_info-table tr td span{
	padding-right: 15px;
}
#ttn_head_info-table tr td span.dateInput,
#ttn_head_info-table tr td span.spanInput{
	width: 84px;
	padding: 3px 4px 3px 3px;
    border: 1px solid #A9A9A9;
}
#ttn_head_info-table tr td input.ttn_number_input{
	text-align: right;
	width: 36px;
}
#ttn_head_info-table tr td input{
	width: 83px;
	outline: none;padding: 2px 2px;
	margin-top: -4px;
	margin-bottom: 0;
}
#ttn_head_info-table .ttn_client_name{
	font-weight: bold;
}
#ttn_head_info-table .ttn_requisits{
	text-decoration: underline;
	cursor: pointer;
}
#ttn_head_info-table .ttn_requisits:hover{
	text-decoration: none;
}
#js-alert_union .ttn_car_div-head{
	font-size: 12px;
	font-weight: bold;
}
#js-alert_union .ttn_car_div-body ul{
	padding:10px 0 0 0; 
	margin: 0;
}
#js-alert_union .ttn_car_div-body li{
	display: inline-block;
}
#js-alert_union .ttn_car_div-body li.checked .ttn-our_delivery,
#js-alert_union .ttn_car_div-body li.checked .ttn-no_delivery{
	background-color: #c6e1aa;
	border: 1px solid #92b73e;
}
#ttn_car_div{
    padding-top: 15px;
}
#js-alert_union .ttn_car_div-body li.checked .ttn-delivery-text{
	color: #5a5c61;
}
#js-alert_union .ttn_car_div-body li .ttn-our_delivery{
	background-image:url(../images/img_design/our_delivery.png);
	background-repeat: no-repeat;
	background-position: 50%;
}
#js-alert_union .ttn_car_div-body li .ttn-no_delivery{
	background-image:url(../images/img_design/no_delivery.png);
	background-repeat: no-repeat;
	background-position: 50%;
}
#js-alert_union .ttn_car_div-body li .ttn-our_delivery,
#js-alert_union .ttn_car_div-body li .ttn-no_delivery{
	width: 106px;
	height: 43px;
	border:1px solid #cccccc;
}
#js-alert_union .ttn_car_div-body li .ttn-delivery-text{
	font-size: 10px;
	color:#ccc;
	text-align: center;
<<<<<<< HEAD
>>>>>>> ttn 70%
=======
}
.ttn--already-was-created{
    /*padding-top: 15px;*/
    border-top: 1px solid #000000;
    margin-top: 15px;
}
.ttn--already-was-created div {
    font-size: 11px;
}
.ttn--already-was-created--head{
	font-weight: bold;
<<<<<<< HEAD
>>>>>>> ttn 80%
=======
	padding-top: 15px;
	padding-bottom: 15px;
}
.ttn_created td{
	background-color: #c6e1aa;
	color: #9eb488;
>>>>>>> ttn 90%
}